# 更新
scrapy==2.6.2
scrapy-redis==0.6.8
scrapyd==1.3.0
scrapyd-client==1.2.2
scrapy-splash==0.8.0
# 随机产生useragent
scrapy-fake-useragent==1.4.4

#随机代理 应该不用
scrapy-rotating-proxies==0.6.2
#随机代理
scrapy-scylla-proxies==0.5.0.5

twisted==18.9.0

beautifulsoup4==4.11.1
gerapy==0.9.10

# 解析html用
tkitreadability==0.0.0.5.1

# 下载图像用
Pillow==9.2.0
# s3 使用
boto==2.49.0
botocore==1.27.39

# mongodb存储
#tkitscrapymongopipeline==0.0.0.116515135
#pymongo==4.1.1

psycopg2-binary==2.8.4
pymongo==3.10.1
PyMySQL==0.9.3
pyOpenSSL==19.1.0
pyppeteer==0.0.25
python-scrapyd-api==2.1.2
redis==3.3.11
requests==2.22.0
selenium==3.141.0
tqdm==4.42.0







