
beautifulsoup4==4.11.1
gerapy==0.9.5
scrapy==1.6.0
twisted==18.9.0



scrapy-splash==0.8.0
# 解析html用
tkitreadability==0.0.0.4
readability-lxml==0.8.1
html2text==2020.1.16
# lxml==4.8.0
# 下载图像用
Pillow==3.1.1

# 随机产生useragent
scrapy-fake-useragent==1.4.4

#随机代理 应该不用
scrapy-rotating-proxies==0.6.2
#随机代理
scrapy-scylla-proxies==0.5.0.5

# mongodb存储
#tkitscrapymongopipeline==0.0.0.116515135
#pymongo==4.1.1


#
# requests
# selenium
# aiohttp
# beautifulsoup4
# pyquery
# pymysql
# redis
# pymongo
# flask
# django
# scrapy
# scrapyd
# scrapyd-client
# scrapy-redis
# scrapy-splash
# elasticsearch
# psycopg2-binary
# pyppeteer




aiohttp==3.6.2
constantly==15.1.0
cryptography==2.8

elasticsearch==7.5.1
Flask==1.1.1
gevent==21.12.0
greenlet==1.1.2
lxml>=4.5.0
multidict==4.7.4
psycopg2-binary==2.8.4
pymongo==3.10.1
PyMySQL==0.9.3
pyOpenSSL==19.1.0
pyppeteer==0.0.25
pyquery==1.4.1
python-scrapyd-api==2.1.2
redis==3.3.11
requests==2.22.0
Scrapy==1.6.0
scrapy-redis==0.6.8

scrapyd==1.2.1
scrapyd-client==1.1.0
selenium==3.141.0
soupsieve==1.9.5
sqlparse==0.3.0
tqdm==4.42.0







